footer.footer
    .container.container_flex.container_footer
        .footer__copy © 2018 «LOREMIPSUM.NET» Все права защищены.
        .footer__money
            .footer__money-item.footer__money-item_qiwi QIWI wallet
            .footer__money-item.footer__money-item_yandex Yandex Money
            .footer__money-item.footer__money-item_webmoney Web Money
        .footer__contacts
            a(href="mailto:info@ipsum228.com").footer__contacts-email info@ipsum228.com
            a(href="#").footer__contacts-vk Мы вконтакте
