.order {
    background-image: url(images/bg2.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    &__subtitle{
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: $grayColorAboutSubtitle;
        text-align: center;
        font-family: Lato, Arial, Helvetica, sans-serif;
        margin-top: 30px;
    }
}