.main-list{
    font-family: Lato, Arial, Helvetica, sans-serif;
    &__title{
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        &_position{
            margin-bottom: 10px;
        }
    }
    &__items{
        list-style-type: none;
    }
    &__item{
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        padding-left: 24px;
        margin-bottom: 5px;
        position: relative;
    }
    &__item::before{
        content: '-';
        position: absolute;
        top:-2px;
        left:8px;
    }
    &_position{
        max-width: 780px;
        margin-bottom: 80px;
    }
}