section.about
  .container.container_about
    h1.main-text.main-text_about #[span.main-text__blue Lorem ipsum] dolor sit ametconsectetur #[span.main-text__blue adipiscing]
    .main-list.main-list_position
      h3.main-list__title.main-list__title_position At vero eos et accusamus et iusto odio dignissimos ducimus!
      ul.main-list__items
        li.main-list__item Totam rem aperiam eaque ipsa
        li.main-list__item Sit voluptatem accusantium doloremque laudantium
        li.main-list__item Sed ut perspiciatis, unde omnis iste natus error
    .about-buttons
      button.main-button.main-button_about-positon.main-button_blue-theme Заказать
      button.main-button.main-button_white-theme Подробнее