header.header.header_animation
  .container.container_flex.container_header
    a(href="#").logo loremipsum.
      span.logo__blue net
    nav.navigation
      ul.navigation__list
        li.navigation__item
          a(href="#").navigation__link.navigation__link_active бизнес
        li.navigation__item
          a(href="#").navigation__link о нас
        li.navigation__item
          a(href="#").navigation__link цены
        li.navigation__item
          a(href="#").navigation__link оформить заказ
    button.burger
      span.burger__line
      span.burger__line
      span.burger__line
