.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding:0 15px;
  &_flex{
    display: flex;
  }
  &_header{
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  &_about{
    padding-top:203px;
    padding-bottom: 203px;
  }
  &_order{
    padding-top: 120px;
  }
  &_footer{
    justify-content: space-between;
  }
}
