.mCSB_scrollTools{
    display: block !important;
    width: 7px!important;
    right: 4px!important;
    margin: 3px 0px!important;
    background: rgba(61, 64, 80, 1)!important;

}
.mCSB_dragger_bar{
    margin: 0!important;
    width: 7px!important;
    background: rgb(62, 156, 220)!important;
    box-shadow: unset!important;
}
.mCSB_dragger{
    height: 52px!important;
}