doctype html
//lang ru/en
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="icon", href=require('./images/favicon.svg'))
    title SoftNsk
  body.body
    include _header/_header.pug
    include _about/_about.pug
    include _order/_order.pug
    include _footer/_footer.pug
